In [22]:
n, k = 10000000, 5

In [23]:
result = 0 
while True : 
    target = (n // k ) * k
    print("taget : " ,target)
    result += n - target
    print("result : ", result)
    n = target
    print("n : ", n)
    
    if n < k : 
        break
    result += 1
    print("result : ", result)
    n //= k 
    print("n : ", n)
    print( )

taget :  10000000
result :  0
n :  10000000
result :  1
n :  2000000

taget :  2000000
result :  1
n :  2000000
result :  2
n :  400000

taget :  400000
result :  2
n :  400000
result :  3
n :  80000

taget :  80000
result :  3
n :  80000
result :  4
n :  16000

taget :  16000
result :  4
n :  16000
result :  5
n :  3200

taget :  3200
result :  5
n :  3200
result :  6
n :  640

taget :  640
result :  6
n :  640
result :  7
n :  128

taget :  125
result :  10
n :  125
result :  11
n :  25

taget :  25
result :  11
n :  25
result :  12
n :  5

taget :  5
result :  12
n :  5
result :  13
n :  1

taget :  0
result :  14
n :  0

result += (n-1)

In [24]:
result

14

# 상하좌우

In [25]:
N = 5
plan = "RRRUDD"

In [26]:
x,y = 1, 1

In [30]:
for p in plan  : 
    if p == 'R' : 
        if y < N : 
            y+=1
    
    elif p =='L' : 
        if y>1 : 
            y-=1
    
    elif p == 'U':
        if x>1 : 
            x-=1
    
    elif p == 'D':
        if x < N : 
            x+=1

In [31]:
x,y

(3, 4)

# 시각

In [32]:
N = 5

In [33]:
#0시 00분 00초부터 5시 59분 59초까지

In [35]:
result = 0 
for i in range(N+1) : 
    if i ==3 or i==13 or i==23 : 
        result += 60*60
    else : 
        temp = 0 
        for m in range(60) : 
            for s in range(60) : 
                if '3' in str(s) or '3' in str(m) : 
                    temp+=1
        result += temp

In [36]:
result

11475

# 왕실의 나이트

수평으로 두 칸 이동한 뒤에 수직으로 한간 이동하기
좌우, 상하

수직으로 두칸 이동한 뒤에 수평으로 한칸 이동하기

In [38]:
pos = "a1"

# 게임 개발